<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Snippet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <form>
        <input type="text" name="title" value="" placeholder="title">
        <input type="text" name="body" value="" placeholder="snippet">
        <input type="text" name="language" value="" placeholder="language">
        <input type="text" name="tag" value="" placeholder="tag">
        <input type="text" name="notes" value="" placeholder="notes">
        <input type="submit" name="submit" value="Create Code Snippet!">
      </form>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
