<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Filtered Code</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/snippets/">Code Snippets</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <li>
            <form class="navbar-form " action="/snippets/language/" method="GET">
              <div class="form-group">
                <input class="form-control" type="text" name="language" value="" placeholder="Find by Language">
              </div>
              <button class="btn btn-default" type="submit" name="button">Search</button>
            </form>
          </li>
          <li>
            <form class="navbar-form" action="/snippets/tags/" method="GET">
              <div class="form-group">
                <input class="form-control" type="text" name="tags" value="" placeholder="Find by Tags">

              </div>
              <button class="btn btn-default" type="submit" name="button">Search</button>
            </form>
          </li>
          <li>
            <button class="btn btn-defalut navbar-btn" type="button" name="button"><a href="/snippets/newSnippet">Create Snippet</a></button>
          </li>
          <li><a href="/snippets/yourSnippets/{{session}}">@{{session}}</a></li>
          <li>
            <form class="navbar-form" action="/snippets/user/logout" method="POST" class="navvar-from navbar-right" >
              <button class="btn btn-default" type="submit" name="logout">Logout</button>
            </form>
          </li>
        </ul>
    </div>
  </div>
</nav>

  <div class="jumbotron">
    <div class="container">
      <div class="page-header">
        <h1>{{filterTitle}}</h1>
      </div>

      <div class="user">
        {{#model}}
        <h1><a href="/snippets/username/{{username}}">{{username}}</a></h1>
        <p><b>Title: </b>{{title}}</p>
        <p><b>Body: </b>{{body}}</p>
        <p><b>Language: </b>{{language}}</p>
        <p><b>Tags: </b>{{tags}}</p>
        <p><b>Notes: </b>{{notes}}</p>
        {{/model}}
      </div>
    </div>

  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  $('.dropdown-toggle').dropdown()
  </script>
</body>
</html>
